body {
    font-family: Montserrat, Arial, Helvetica, sans-serif
}

/* home page styles
-------------------------------------------------- */

#home-weeks-table {
    margin-top: 20px;
}

/* prediction page styles
-------------------------------------------------- */

.pred-row {
    padding-top: 5px;
}

.date-row {
    margin-top: 20px;
}

/*.even_row {
    background: #ccc;
}

.odd_row {
    background: #eee;
}*/

.pred-box {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    background: #eee;
}


/* weekly scores page styles
-------------------------------------------------- */

.weekly-table-page {
    width: 100%;
    padding: 0 30px
}

#weekly-scores-table {
    font-size: 0.7em;
}

#weekly-scores-table th {
    background: #d6e3d3;
}

#weekly-scores-table td,th {
    text-align: center;
    vertical-align: middle;
}

.no-btm-bord {
    border-bottom: none !important;
}

.no-top-bord {
    border-top: none !important;
    border-bottom: 1px solid #777 !important;
}

.l-bord {
    border-left: 1px solid #777;
}

.odd-row {
    background: #ccc;
}

.even-row {
    background: #eee;
}

.won {
    background: #93db8c;
}

.lost {
    background: #f19693;
}



/* prediction form modal styles
-------------------------------------------------- */

/*#pred_form {
     max-width: 340px; 
}*/

.modal-dialog {
    max-width: 340px;
  overflow-y: initial !important
}

.modal-header {
    display: block;
}

.modal-title {
    display: inline-block;
}

#modal-bodee {
  height: 250px;
  overflow-y: auto;
}

#fake-head-row {
    padding: 0 15px;
    margin: 5px 0 0 0;
}

.fake-table-head {
    text-align: center;
    color: #777;
    /* border: 1px solid black; */
}

#pred-form-table td {
    text-align: center;
}

.pred-form-num span{
    font-size: 1.5rem;
}

#modal-errors {
    width: 80%;
    margin: 0 auto;
    color: red;
    padding: 5px 15px;
    border: 1px solid red;
    border-radius: 3px;
    background: #ddd;
}


/* Sticky footer styles
-------------------------------------------------- */

.forum-post {
    margin: 10px 0;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  body > .container {
    padding: 60px 15px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }

  .main-container {
      padding-top: 75px;
      max-width: 1024px;
      margin: 0 auto;
  }